@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

form {
  width: 60%;
  position: relative;
  height: 50px;
  margin-top: 8rem;
  overflow: hidden;
}

form input {
  width: 100%;
  height: 100%;
  color: coral;
  padding-top: 20px;
  border: none;
  outline: none;
}

form label {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}